<div class="product">
  <h3>
    <%= product.category.name rescue "" %>
    <%= link_to product.name, product %>
    <span class="price"><%= number_to_currency(product.price) %></span>
  </h3>
  <div class="description"><%= product.description %></div>
  
  <div class="actions">
    <%= link_to "Edit", edit_product_path(product) %> |
    <%= link_to "Destroy", product, :confirm => 'Are you sure?', :method => :delete %>
  </div>
</div>
