<!DOCTYPE html>
<html>
<head>
  <title>RailsJavascriptTesting</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'ba-debug', :defaults, 'world' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

  <% javascript_tag do %>
      <%= "debug.setLevel(0);" unless JQUERY_DEBUG %>
  <% end %>
</body>
</html>
